---
import Base from "@layouts/Base.astro";
import PageBanner from "@components/Banner/PageBanner.astro";
import CardGallery from "@components/Card/CardGallery.astro";
import PostCard from "@components/Card/PostCard.astro";
import { queryFetch } from "@utils/queryFetch";
const { categoryName } = Astro.props;
const title = `搜尋文章分類：${categoryName}`;
const description = `搜尋文章分類`;

const filtedPosts = await queryFetch(`query Category ($targetCategory: String!){
  posts(filters: {category:{name:{eq:$targetCategory}}}){
    data {
      attributes {
        featuredIcon {
          data {
            attributes {
              url
              width
              height
            }
          }
        }
        slug
        date
        titletc
        excerpt
        tags{
          data{
            attributes{
              name
              slug
            }
          }
        }
        category{
          data{
            attributes{
              name
              slug
            }
          }
        }
        content
      }
    }
  }
}
`, `{"targetCategory": "${categoryName}"}`).then((result) => result.data.posts.data);


export async function getStaticPaths() {
  const categories = await queryFetch(`{
	categories{
    data{
      attributes{
        name
        slug
      }
    }
  }
}
`).then((result) => result.data.categories.data);

  return categories.map((category) => {
    return {
      params: { slug: category.attributes.slug },
      props: {
        categoryName: category.attributes.name,
      },
    };
  });
}
---

<Base title={title} description={description}>
  <PageBanner title={title} />

  <section class="px-4">
    <CardGallery>
      {
        filtedPosts.map((post) => {
          return <PostCard post={post.attributes} />;
        })
      }
    </CardGallery>
  </section>
</Base>
