---
import Card from "@components/Card/Card.astro";
import Category from "@components/Taxonomy/Category.astro";
import Tags from "@components/Taxonomy/Tags.astro";
const { post } = Astro.props;
const { featuredIcon, titletc, excerpt, slug, date, category, tags } = post;
---

<li class="list-none">
  <Card>
    <article class="pt-8">
      <img
        src={import.meta.env.URL_PREFIX + featuredIcon.data.attributes.url}
        class="absolute top-0 left-0 rounded-lg transform-gpu -translate-y-1/2 ml-4"
        width={featuredIcon.data.attributes.width}
        height={featuredIcon.data.attributes.height}
        alt="文章圖片"
      />
      <a href=`/post/${slug}`>
        <h3 class="text-2xl mb-4">{titletc}</h3>
      </a>
      <!-- Paragraph -->
      <p>{excerpt}</p>
      <!-- Footer -->
      <div class="flex justify-between items-center mt-8">
        <!-- Time -->
        <time class="inline-block text-sm">
          {date}
        </time>
        <div>
          <div class="flex">
            <!-- Category -->
            <Category category={category.data.attributes} />
            <!-- Tags -->
            <Tags tags={tags.data} />
          </div>
        </div>
      </div>
    </article>
  </Card>
</li>
