---
import "@styles/global.css";
import { queryFetch } from "@utils/queryFetch";
// Cloud Data
const cloudConfig = await queryFetch(`{
  siteConfig{
    data{
      attributes{
        global
      }
    }
  }
}`).then((result) => result.data.siteConfig.data.attributes.global);
// Prop Data
const { title, description, image } = Astro.props;
const SeoTitle = (title || cloudConfig.brand.slogan) + ` - ${cloudConfig.brand.eng}`;
const SeoDescription = description || cloudConfig.brand.description;
const SeoImage = image;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="icon" href=`data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>${cloudConfig.brand.short}</text></svg>`/>

<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,
    %3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 100 100'%3E%3Cstyle%3E rect %7B fill: white; %7D text%7B fill: black; %7D @media (prefers-color-scheme: dark) %7B rect %7B fill: black; %7D text %7B fill: white; %7D %7D %3C/style%3E%3Crect width='100' height='100' rx='20'%3E%3C/rect%3E%3Ctext x='47%25' y='50%25' dominant-baseline='central' text-anchor='middle' font-size='40'%3E WD %3C/text%3E%3C/svg%3E">

<meta name="generator" content={Astro.generator} />


<!-- Primary Meta Tags -->
<title>{SeoTitle}</title>
<meta name="title" content={SeoTitle} />
<meta name="description" content={SeoDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:url" content={Astro.url.origin} />
<meta property="og:locale" content="zh_TW">
<meta property="og:type" content="website" />
<meta property="og:title" content={SeoTitle} />
<meta property="og:description" content={SeoDescription} />
<meta property="og:image" content={SeoImage ? SeoImage.attributes.url : new URL("/images/placeholder/webdongOg.jpg", Astro.url)}/>
<meta property="og:image:alt" content={SeoImage ? SeoImage.attributes.alternativeText : "預設 og 圖片"}>
 {
  SeoImage ?
    <meta property="og:image:width" content={SeoImage.attributes.width}>
    <meta property="og:image:height" content={SeoImage.attributes.height}>
    :
    ""
 }
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={Astro.url.origin} />
<meta property="twitter:title" content={SeoTitle} />
<meta property="twitter:description" content={SeoDescription} />
<meta property="og:image" content={SeoImage ? SeoImage.attributes.url : new URL("/images/placeholder/placeholder-og.jpg", Astro.url)}/>

<script is:inline>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  if (
    localStorage.getItem("color-theme") === "dark" ||
    (!("color-theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6JRLZJ1PCE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6JRLZJ1PCE');
</script>
