---
import Card from "@components/Card.astro";
const { post } = Astro.props;
---

<li class="max-w-[450px]">
  <Card>
    <article class="pt-4">
      <a href={post.url}>
        {
          // Emoji
          post.frontmatter.emoji && (
            <div class="text-4xl absolute top-0 left-0 transform-gpu -translate-y-1/2 translate-x-1/2">
              {post.frontmatter.emoji}
            </div>
          )
        }
        <h3 class="text-2xl mb-4">{post.frontmatter.titletc}</h3>
      </a>
      <!-- Paragraph -->
      <p class="text-sm">{post.frontmatter.description}</p>
      <!-- Footer -->
      <div class="flex justify-between items-center mt-8">
        <!-- Time -->
        <time class="inline-block">
          {post.frontmatter.date}
        </time>
        <div>
          <!-- Category -->
          <ul class="inline-block">
            {
              post.frontmatter.category.map((tag, index) => (
                <li class="inline-block opacity-80 hover:opacity-100">
                  {index ? <div class="inline-block">．</div> : ""}
                  <a href={`/post/categories/${tag}`}>{tag}</a>
                </li>
              ))
            }
          </ul>
          <!-- Tag -->
          <span>．</span>
          <ul class="inline-block">
            {
              post.frontmatter.tag.map((tag, index) => (
                <li class="inline-block opacity-80 hover:opacity-100">
                  {index ? (
                    <div class="inline-block ml-1.5 text-sm opacity-60">/</div>
                  ) : (
                    ""
                  )}
                  <a href="#">{tag}</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </article>
  </Card>
</li>
