---
import Card from "@components/Card.astro";
import CategoriesList from "@components/CategoriesList.astro";
const { post } = Astro.props;
const { featuredIcon, titletc, excerpt, slug, date, categories } = post;
---

<li class="list-none">
  <Card>
    <article class="pt-8">
      <img
        src={`${import.meta.env.STRAPI_API}${featuredIcon.data.attributes.url}`}
        class="absolute top-0 left-0 rounded-lg transform-gpu -translate-y-1/2 ml-4"
        width={featuredIcon.data.attributes.width}
        height={featuredIcon.data.attributes.height}
        alt="文章圖片"
      />
      <a href=`/post/${slug}`>
        <h3 class="text-2xl mb-4">{titletc}</h3>
      </a>
      <!-- Paragraph -->
      <p>{excerpt}</p>
      <!-- Footer -->
      <div class="flex justify-between items-center mt-8">
        <!-- Time -->
        <time class="inline-block text-sm">
          {date}
        </time>
        <div>
          <!-- Category -->
          <CategoriesList categories={categories.data} />
          <!-- <ul class="inline-block">
            {
              post.category.map((tag, index) => (
                <li class="inline-block opacity-80 hover:opacity-100">
                  {index ? <div class="inline-block">．</div> : ""}
                  <a href={`/post/categories/${tag}`}>{tag}</a>
                </li>
              ))
            }
          </ul> -->
          <!-- Tag -->
          <!-- <span>．</span>
          <ul class="inline-block">
            {
              post.tag.map((tag, index) => (
                <li class="inline-block opacity-80 hover:opacity-100">
                  {index ? (
                    <div class="inline-block ml-1.5 text-sm opacity-60">/</div>
                  ) : (
                    ""
                  )}
                  <a href="#">{tag}</a>
                </li>
              ))
            }
          </ul> -->
        </div>
      </div>
    </article>
  </Card>
</li>
