---
import Base from "@layouts/Base.astro";
import Category from "@components/Taxonomy/Category.astro";
import Tags from "@components/Taxonomy/Tags.astro";
import RecommendPost from "@components/recommendPost.astro";
import NewsletterBanner from "@components/Banner/NewsletterBanner.astro";

const { title, titletc, category, excerpt, author, tags, themeColor } = Astro.props.post.attributes;
const featuredImage = Astro.props.post.attributes.featuredImage.data;
const featuredIcon = Astro.props.post.attributes.featuredIcon.data;
const recommendPost = Astro.props.post.attributes.recommendPost.data
---

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/a11y-dark.min.css">
<script is:inline defer src="/js/highlight.min.js"></script>

<script>hljs.highlightAll();</script>

<Base title={titletc} description={excerpt} image={featuredImage ?? featuredIcon} themeColor={themeColor}>
  <main>
    <article class="mt-40 prose-lg">
      <header class="mb-16 not-prose md:mx-auto mx-8">
        <!-- FeaturedImage -->
        {
          featuredImage ? (
            <img
              class="mx-auto mb-16"
              src={import.meta.env.URL_PREFIX + featuredImage.attributes.url}
              width={featuredImage.attributes.width}
              height={featuredImage.attributes.height}
              alt={featuredImage.attributes.alternativeText}
            />
          ) : (
            ""
          )
        }
        <div class="relative mx-auto max-w-prose">
          <!-- Heading -->
          <h1>
            <div class="mb-2">{title}</div>
            <div class="text-4xl mb-4 font-bold">{titletc}</div>
          </h1>
          <!-- Author -->
          <!-- <div class="mb-8 static lg:absolute lg:top-0 lg:left-0 lg:transform-gpu lg:-translate-x-full lg:pr-8 opacity-40">
            作者：{author.data.attributes.name}
            <br>
          </div> -->
          <!-- Categories -->
          <Category category={category.data.attributes} />
          <!-- Tags -->
          <Tags tags={tags.data}></Tags>
          {
            featuredIcon ? (
              <div class="mx-auto absolute top-0 left-0 rounded-lg transform-gpu -translate-y-full -mt-8 overflow-hidden" style=`background-color: ${themeColor ?? "white"}`>
                <img
                  src={import.meta.env.URL_PREFIX + featuredIcon.attributes.url}
                  width={featuredIcon.attributes.width}
                  height={featuredIcon.attributes.height}
                  alt={featuredIcon.attributes.alternativeText}
                />
              </div>
            ) : (
              ""
            )
          }
        </div>
      </header>
      <div class="mx-8 md:mx-auto prose  md:prose-lg max-w-none dark:prose-invert dark:prose-dark singlePost wrapper">
        <slot />
      </div>
    </article>
  </main>
  <!-- After Reading Section -->
  <div class="max-w-[1200px] mx-auto mt-16">
    <!-- Recommend Posts -->
    <RecommendPost posts={recommendPost}></RecommendPost>
    <NewsletterBanner> 
  </div>

</Base>

<style is:inline>
.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}

.wrapper p:has(> img){
  margin: 0 auto;
  width: 100%;
  grid-column: 1 / -1;
}

.raw-html-embed {
  margin: 0 auto;
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
}

.raw-html-embed > video{
  margin: 0 auto;
}






/* table {
  width: auto;

}

.table {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  overflow-x: scroll;
  grid-column: 1 / -1;
} */



p img {
  margin: 0 auto
}
</style>