---
import Base from "@layouts/Base.astro";
import Category from "@components/Taxonomy/Category.astro";
import Tags from "@components/Taxonomy/Tags.astro";
import RecommendPost from "@components/recommendPost.astro";

const { title, titletc, category, excerpt, author, tags, themeColor } = Astro.props.post.attributes;
const featuredImage = Astro.props.post.attributes.featuredImage.data;
const featuredIcon = Astro.props.post.attributes.featuredIcon.data;
const recommendPost = Astro.props.post.attributes.recommendPost.data

---

<link rel="stylesheet" href="/style/monokai.min.css">
<script is:inline defer src="/js/highlight.min.js"></script>

<script>hljs.highlightAll();</script>

<Base title={titletc} description={excerpt} image={featuredImage}>
  <article class="mt-40">
    <header class="mb-16">
      <!-- FeaturedImage -->
      {
        featuredImage ? (
          <img
            class="mx-auto mb-16"
            src={import.meta.env.URL_PREFIX + featuredImage.attributes.url}
            width={featuredImage.attributes.width}
            height={featuredImage.attributes.height}
            alt={featuredImage.attributes.alternativeText}
          />
        ) : (
          ""
        )
      }
      <div class="md:mx-auto relative max-w-prose mx-8">
        <!-- Heading -->
        <h1>
          <div class="mb-2">{title}</div>
          <div class="text-4xl mb-4 font-bold">{titletc}</div>
        </h1>
        <!-- Author -->
        <!-- <div class="mb-8 static lg:absolute lg:top-0 lg:left-0 lg:transform-gpu lg:-translate-x-full lg:pr-8 opacity-40">
          作者：{author.data.attributes.name}
          <br>
        </div> -->
        <!-- Categories -->
        <Category category={category.data.attributes} />
        <!-- Tags -->
        <Tags tags={tags.data}></Tags>
        {
          featuredIcon ? (
            <div class="mx-auto absolute top-0 left-0 rounded-lg transform-gpu -translate-y-full -mt-8 overflow-hidden" style=`background-color: ${themeColor ?? "white"}`>
              <img
                src={import.meta.env.URL_PREFIX + featuredIcon.attributes.url}
                width={featuredIcon.attributes.width}
                height={featuredIcon.attributes.height}
                alt={featuredIcon.attributes.alternativeText}
              />
            </div>
          ) : (
            ""
          )
        }
      </div>
    </header>
    <div class="prose prose-lg dark:prose-invert mx-8 md:mx-auto">
      <slot />
    </div>
    <div class="max-w-[1200px] mx-auto mt-16">
      <RecommendPost posts={recommendPost}></RecommendPost>
    </div>
  </article>
</Base>