---
import Base from "@layouts/Base.astro";
import { generateCategoryData } from "src/utils/helpers";
const { frontmatter } = Astro.props;
const allCategoriesData = generateCategoryData(frontmatter.category);
---

<Base>
  <div class="bg-debug">
    {
      allCategoriesData.map((category) => (
        <li>
          <a href={`/post/categories/${category.slug}`}>{category.name}</a>
        </li>
      ))
    }
  </div>
  <h1>{frontmatter.title} by {frontmatter.author}</h1>
  <main>
    <article class="prose mx-auto">
      <slot />
    </article>
  </main>
  <p>Written on: {frontmatter.date}</p>
  post layout
</Base>
