---
import Base from "@layouts/Base.astro";
import { generateCategoryData } from "src/utils/helpers";
const { frontmatter } = Astro.props;
const allCategoriesData = generateCategoryData(frontmatter.category);
---

<Base>
  <main>
    <article>
      <header>
        <img
          class="mx-auto"
          src="https://picsum.photos/1200/600"
          width="1200"
          height="600"
          alt="test image"
        />
        <div class="prose dark:prose-invert mx-auto">
          <!-- Heading -->
          <h1>
            <span class="text-xl font-normal">
              {frontmatter.title}
            </span>
            <br />
            {frontmatter.titletc}
          </h1>
          <!-- Category -->
          <div>
            {
              allCategoriesData.map((category) => (
                <li>
                  <a href={`/post/categories/${category.slug}`}>
                    {category.name}
                  </a>
                </li>
              ))
            }
          </div>
        </div>
      </header>
      <div class="prose dark:prose-invert mx-auto">
        <slot />
      </div>
    </article>
  </main>
  <p>Written on: {frontmatter.date}</p>
  post layout
</Base>
