---
import Base from "@layouts/Base.astro";
import CategoriesList from "@components/CategoriesList.astro";
const { title, titletc, categories, excerpt } = Astro.props.post.attributes;
const featuredImage = Astro.props.post.attributes.featuredImage.data;
const featuredIcon = Astro.props.post.attributes.featuredIcon.data;
---

<Base title={titletc} description={excerpt}>
  <article class="mt-40">
    <header class="mb-16">
      <!-- FeaturedImage -->
      {
        featuredImage ? (
          <img
            class="mx-auto mb-16"
            src={import.meta.env.URL_PREFIX + featuredImage.attributes.url}
            width={featuredImage.attributes.width}
            height={featuredImage.attributes.height}
            alt={featuredImage.attributes.alternativeText}
          />
        ) : (
          ""
        )
      }
      <div class="md:mx-auto relative max-w-prose mx-8">
        <!-- Heading -->
        <h1>
          <div class="mb-4">{title}</div>
          <div class="text-4xl prose dark:prose-invert mb-4">{titletc}</div>
        </h1>
        <CategoriesList categories={categories.data} />
        {
          featuredIcon ? (
            <img
              class="mx-auto absolute top-0 left-0 rounded-lg transform-gpu -translate-y-full -mt-8"
              src={import.meta.env.URL_PREFIX + featuredIcon.attributes.url}
              width={featuredIcon.attributes.width}
              height={featuredIcon.attributes.height}
              alt={featuredIcon.attributes.alternativeText}
            />
          ) : (
            ""
          )
        }
      </div>
    </header>
    <div class="prose dark:prose-invert mx-8 md:mx-auto">
      <slot />
    </div>
  </article>
</Base>
